<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span style="color: dimgrey; font-size: x-large;">Login</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="auth.login(form.value)">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" name="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="Password" placeholder="Password" name="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
        </form>
    </mat-card-content>
</mat-card>